<!DOCTYPE html>
<html>
<head>
  <title>MiddMap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta property="og:title" content="MiddMap" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.middmap.com" />
  <meta property="og:image" content="http://www.middmap.com/assets/logo.png" />

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "jquery-ui", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "leaflet", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "dateslider/iThing", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "MarkerCluster", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "MarkerCluster.Default", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "map", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "events", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "places", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery.min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-ui", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jQDateRangeSlider-min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "leaflet", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "leaflet.markercluster", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "moment.min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "map", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "events", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "places", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47555533-2', 'middmap.com');
  ga('send', 'pageview');
</script>
</body>
</html>
